setxkbmap latam &
nitrogen --random --set-zoom-fill &
picom -f &
xset -b &
xset s off -dpms &
xhost + &
clipmenud &
udiskie &
xmodmap ~/.Xmodmap &
xkbcomp output.xkb $DISPLAY &
python3 $HOME/.config/scripts/snippets.py &
python3 $HOME/.config/scripts/volume_control.py &
python3 $HOME/.config/scripts/fast_scrolling.py &
